body {
    font-family: 'Roboto', sans-serif;
    width: 900px;
    margin: auto;
}
h1 {
    color: red;
}
h2 {
    color: rgb(43, 255, 0);
}
p {
    line-height: 2em;
}
.tag-bac {
    background-color:rgb(184, 180, 180);
    padding: 2px;
    border: 1px solid rgb(148, 146, 146);
}
span.col {
    color: red;
}
.par-expl {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    font-family: 'Courier New';
}
.pad {
    padding-left: 30px;
    font-weight: lighter;
    color: #918E7B;
}
.num-col {
    color: #918E7B;
    font-family: 'Courier New';
}
table {
    margin-left: 300px;
    padding: 3px;
    margin: auto;
}
.bor-col {
    color: #66D9EF;
}
.num-col-bor {
    color: #AE81FF;
}
.px-col {
    color: #FE4481 ;
}
#tab2, #tab2, #tab3 {
    border-collapse: collapse;
    margin: auto;
}
#tab6 {
    border-collapse: separate;
    border: 1px solid black;
}
#tab1 td{
    border: 1px solid black;
}
#tab2 td{
    border: 1px solid black;
}
#tab3 td, th{
    border: 1px solid black;
}
#tab3 {
    border-spacing: 0px 10px;
}
#tab6 td {
    border: 1px solid black;
}
ul, ol{
    line-height: 2em;
}
p.capt {
    text-align: center;
    font-size: small;
}
table.big-tab {
    border-collapse: collapse;
    margin: auto;
}
table.big-tab td, th {
    border: 1px solid black;
}
table.big-tab > thead th {
    border: 2px solid red;
}
table.big-tab > tfoot th {
    border: 2px solid green;
}
table.big-tab > tbody {
    border: 2px solid blue;
}
table.big-tab > tbody td{
    border: 2px solid blue;
}