body {
    font-family: Georgia;
    width: 900px;
    margin: auto;
}
h1 {
    color: red;
}
h2 {
    color: rgb(43, 255, 0);
}
.tag-bac {
    background-color:rgb(184, 180, 180);
    padding: 2px;
    border: 1px solid rgb(148, 146, 146);
}
span.col {
    color: red;
}
.par-expl {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: auto;
}
.pad {
    padding-left: 30px;
    font-weight: lighter;
    color: #918E7B;
}
.num-col {
    color: #918E7B;
    font-family: 'Courier New';
}
table {
    margin-left: 300px;
    border-bottom: 1px #918E7B solid;
    caption-side: bottom;
    padding: 3px;
}
.bor-col {
    color: #66D9EF;
}
.num-col-bor {
    color: #AE81FF;
}
.px-col {
    color: #FE4481 ;
}
#tab1 td{
    border: 1px solid black;
}
ul {
    line-height: 2em;
}